<!--django navbar setup, source code provided by bootswatch.com-->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Inventory Manager</a>
        <button class="navbar-toggler" 
        type="button" data-bs-toggle="collapse" 
        data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--main navbar buttons-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <!--username-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                    <!--log out-->
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="nav-link" type="submit">Log Out</button>
                        </form>
                    </li>
                {% else %}
                    <!--sign in-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                    </li>
                    <!--sign up-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>